.hero__front {
	position: relative;
	width: 100%;
	box-shadow: $hero-shadow;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: $hero-color;

	&__inner {
		position: relative;
		z-index: 3;
	}
}


// hero__services overlays
// It contains two divs between the image and the content
// The one is the SVG mask and the second one a colored overlay with high opacity

// Color overlay
.hero__services__overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: $hero-color-opacity;
	z-index: 1;
	background-color: $dark-gray;
}

.hero__services__overlay--gradient {
	background: linear-gradient(to right, $dark-gray, $dark-gray);
}

.hero__services__overlay--gradientVertical {
	background: linear-gradient(to bottom, $dark-gray, $dark-gray);
}

.container-services {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	a {
		margin:1rem;
	}
}

.iframe-calendar {
	height: 23rem;
	width: 80%;
}

.services-text2 {
	margin: 2rem;
}

.button {
	margin: 5pt !important;
}
