{{ define "content"}}
<!-- header - blue container -->
{{ $current_section := .Section }}
<div id="hero-list" class=" bg-blue text-white pb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12 d-flex flex-column pt-6 pb-10">
			  <h1 class="fs-60 text"> {{ humanize .Section }} </h1>
			  <p class="fs-30 text">{{ .Params.hero.lead | markdownify }}</p>
			</div>
		</div>
	</div>
</div>

<!-- table of contents -->
<div class="container-fluid overlay-top justify-content-center d-flex">
		<div class="col-lg-6 col-md-10 col-sm-12">
		  <ul class="nav nav-toc-page flex-column boxed">
			{{ range $key, $button := .Params.hero.button }}
			  <li class="mx-1 nav-item bg-white my-1">
				  <a data-scroll class="nav-link section-nav-link" href="{{$button.href}}">
					  <span class="fad fs-24 fa-{{$button.icon}}"></span>
					  <span class="text-dark fs-20 ml-2">{{ $button.title }}</span>
				  </a>
			  </li>
			  {{ end }}
		  </ul>
		  </div>
		</div>

<!-- Software -->

<div class="container-fluid d-flex justify-content-center px-0">
  <div class="col-lg-9 col-md-11 col-sm-12 py-4">
		{{ if .Params.software }}
          <header id="{{ .Params.software.id }}" class="d-flex align-items-center">
            <span class="btn-red btn-ico btn-lg btn-rounded justify-content-center">
							<i class="fad fs-24 fa-{{.Params.software.icon}}"></i>
						</span>
            <h1 class="mx-4 text-secondary">{{ .Params.software.title  }}</h1>
            <hr class="bg-dark w-40"/>
		  </header>
		  {{ $jsonData := getJSON .Params.software.dataLoc }}
		  {{ if eq (len $jsonData) 0 }}
            <div class="row justify-content-center text-blue"> Coming soon! </div>
		  {{ end }}
		  <article class="d-flex py-2 justify-content-between flex-wrap">
				{{range $i, $apps := $jsonData}}
				{{if eq $apps.type "software"}}
				<div class="col-md-6 py-3">
					<div class="card p-4">
						<div class="d-flex">
						<h1 class="card-title font-weight-bold mb-0 fs-20">
							<a href={{ print "https://github.com/compbiocore/" $apps.repo }}><h4 class="text-blue">{{ $apps.site_name }}
								<i class="fab fa-github"></i></h4>
							</a>
						</h1></div>
						<p class="card-text fs-16 text-orange">
								Maintainers:
								{{ range $i2, $details := $apps.authors }}
									{{ $totalLen := sub (len $apps.authors) 1 }}
									{{ if eq $i2 $totalLen }}
										<a href="https://github.com/{{$details.github_user}}"> {{ $details.name }}</a>
									{{ else }}
										<a href="https://github.com/{{$details.github_user}}"> {{ $details.name }}</a>,
									{{ end }}
								{{ end }}
						</p><br>
						<p class="card-text fs-18">{{ $apps.site_description }} </p><br>

						<div>
							<img src="https://img.shields.io/travis/compbiocore/{{ .repo }}.svg?style=flat"/>
							{{ if .docs_url }}
							<a href="{{ .docs_url }}">
								<img src="https://img.shields.io/badge/docs-stable-blue.svg?style=flat"/>
							</a>
							{{ end }}

							{{ if .doi }}
							<a href='https://doi.org/{{ .doi }}'>
								<img src='https://img.shields.io/badge/DOI-{{ replace (replace (replace .doi "/" "%2F") "_" "__") "-" "--" }}-purple.svg?style=flat'/>
							</a>
							{{ end }}

							{{ if .pypi }}
							<a href='https://pypi.org/project/{{ .site_name }}/'>
								<img src='https://img.shields.io/pypi/v/{{ .site_name }}.svg?style=flat'/>
							</a>
							{{ end }}
						</div>
						</div>
					</div>
				{{end}}
			{{end}}
		  </article>

		{{ end }}
  </div>
</div>

<!-- Workshops -->

<div class="container-fluid d-flex justify-content-center px-0">
	<div class="col-lg-9 col-md-11 col-sm-12 py-10">
		  {{ if .Params.workshops }}
			<header id="{{ .Params.workshops.id }}" class="d-flex align-items-center">
			  <span class="btn-red btn-ico btn-lg btn-rounded"><i class="fad fs-24 fa-{{.Params.workshops.icon}}"></i></span>
			  <h1 class="mx-4 text-secondary">{{ .Params.workshops.title  }}</h1>
			  <hr class="bg-dark w-40"/>
			</header>
			{{ $jsonData := getJSON .Params.software.dataLoc }}
			{{ if eq (len $jsonData) 0 }}
			  <div class="row justify-content-center text-blue"> Coming soon! </div>
			{{ end }}
			<article class="d-flex py-2 justify-content-between flex-wrap">
				  {{range $i, $apps := $jsonData}}
				  {{if eq $apps.type "workshop"}}
				  <div class="col-md-6 py-3">
					  <div class="card p-4">
						  <div class="d-flex">
						  <h1 class="card-title font-weight-bold mb-0 fs-20">
							  <a href={{ print "https://github.com/compbiocore/" $apps.repo }}><h4 class="text-blue">{{ $apps.site_name }}
								  <i class="fab fa-github"></i></h4>
							  </a>
						  </h1></div>
						  <p class="card-text fs-16 text-orange">
								  Maintainers:
								  {{ range $i2, $details := $apps.authors }}
									  {{ $totalLen := sub (len $apps.authors) 1 }}
									  {{ if eq $i2 $totalLen }}
										  <a href="https://github.com/{{$details.github_user}}"> {{ $details.name }}</a>
									  {{ else }}
										  <a href="https://github.com/{{$details.github_user}}"> {{ $details.name }}</a>,
									  {{ end }}
								  {{ end }}
						  </p><br>
						  <p class="card-text fs-18">{{ $apps.site_description }} </p><br>

						  <div>
							  <img src="https://img.shields.io/travis/compbiocore/{{ .repo }}.svg?style=flat"/>
							  {{ if .docs_url }}
							  <a href="{{ .docs_url }}">
								  <img src="https://img.shields.io/badge/docs-stable-blue.svg?style=flat"/>
							  </a>
							  {{ end }}

							  {{ if .doi }}
							  <a href='https://doi.org/{{ .doi }}'>
								  <img src='https://img.shields.io/badge/DOI-{{ replace (replace (replace .doi "/" "%2F") "_" "__") "-" "--" }}-purple.svg?style=flat'/>
							  </a>
							  {{ end }}

							  {{ if .pypi }}
							  <a href='https://pypi.org/project/{{ .site_name }}/'>
								  <img src='https://img.shields.io/pypi/v/{{ .site_name }}.svg?style=flat'/>
							  </a>
							  {{ end }}
						  </div>
						  </div>
					  </div>
				  {{end}}
			  {{end}}
			</article>

		  {{ end }}
	</div>
  </div>

<!-- Tutorials -->

<div class="container-fluid d-flex justify-content-center px-0">
	<div class="col-lg-9 col-md-11 col-sm-12 py-10">
		  {{ if .Params.tutorials }}
			<header id="{{ .Params.tutorials.id }}" class="d-flex align-items-center">
			  <span class="btn-red btn-ico btn-lg btn-rounded"><i class="fad fs-24 fa-{{.Params.tutorials.icon}}"></i></span>
			  <h1 class="mx-4 text-secondary">{{ .Params.tutorials.title  }}</h1>
			  <hr class="bg-dark w-40"/>
			</header>
			{{ $jsonData := getJSON .Params.software.dataLoc }}
			{{ if eq (len $jsonData) 0 }}
			  <div class="row justify-content-center text-blue"> Coming soon! </div>
			{{ end }}
			<article class="d-flex py-2 justify-content-between flex-wrap">
				  {{range $i, $apps := $jsonData}}
				  {{if eq $apps.type "tutorial"}}
				  <div class="col-md-6 py-3">
					  <div class="card p-4">
						  <div class="d-flex">
						  <h1 class="card-title font-weight-bold mb-0 fs-20">
							  <a href={{ print "https://github.com/compbiocore/" $apps.repo }}><h4 class="text-blue">{{ $apps.site_name }}
								  <i class="fab fa-github"></i></h4>
							  </a>
						  </h1></div>
						  <p class="card-text fs-16 text-orange">
								  Maintainers:
								  {{ range $i2, $details := $apps.authors }}
									  {{ $totalLen := sub (len $apps.authors) 1 }}
									  {{ if eq $i2 $totalLen }}
										  <a href="https://github.com/{{$details.github_user}}"> {{ $details.name }}</a>
									  {{ else }}
										  <a href="https://github.com/{{$details.github_user}}"> {{ $details.name }}</a>,
									  {{ end }}
								  {{ end }}
						  </p><br>
						  <p class="card-text fs-18">{{ $apps.site_description }} </p><br>

						  <div>
							  <img src="https://img.shields.io/travis/compbiocore/{{ .repo }}.svg?style=flat"/>
							  {{ if .docs_url }}
							  <a href="{{ .docs_url }}">
								  <img src="https://img.shields.io/badge/docs-stable-blue.svg?style=flat"/>
							  </a>
							  {{ end }}

							  {{ if .doi }}
							  <a href='https://doi.org/{{ .doi }}'>
								  <img src='https://img.shields.io/badge/DOI-{{ replace (replace (replace .doi "/" "%2F") "_" "__") "-" "--" }}-purple.svg?style=flat'/>
							  </a>
							  {{ end }}

							  {{ if .pypi }}
							  <a href='https://pypi.org/project/{{ .site_name }}/'>
								  <img src='https://img.shields.io/pypi/v/{{ .site_name }}.svg?style=flat'/>
							  </a>
							  {{ end }}
						  </div>
						  </div>
					  </div>
				  {{end}}
			  {{end}}
			</article>

		  {{ end }}
	</div>
  </div>

<!-- Documentation -->

<div class="container-fluid d-flex justify-content-center px-0">
	<div class="col-lg-9 col-md-11 col-sm-12 py-10">
		  {{ if .Params.documentation }}
			<header id="{{ .Params.documentation.id }}" class="d-flex align-items-center">
			  <span class="btn-red btn-ico btn-lg btn-rounded"><i class="fad fs-24 fa-{{.Params.documentation.icon}}"></i></span>
			  <h1 class="mx-4 text-secondary">{{ .Params.documentation.title  }}</h1>
			  <hr class="bg-dark w-40"/>
			</header>
			{{ $jsonData := getJSON .Params.software.dataLoc }}
			{{ if eq (len $jsonData) 0 }}
			  <div class="row justify-content-center text-blue"> Coming soon! </div>
			{{ end }}
			<article class="d-flex py-2 justify-content-between flex-wrap">
				  {{range $i, $apps := $jsonData}}
				  {{if eq $apps.type "documentation"}}
				  <div class="col-md-6 py-3">
					  <div class="card p-4">
						  <div class="d-flex">
						  <h1 class="card-title font-weight-bold mb-0 fs-20">
							  <a href={{ print "https://github.com/compbiocore/" $apps.repo }}><h4 class="text-blue">{{ $apps.site_name }}
								  <i class="fab fa-github"></i></h4>
							  </a>
						  </h1></div>
						  <p class="card-text fs-16 text-orange">
								  Maintainers:
								  {{ range $i2, $details := $apps.authors }}
									  {{ $totalLen := sub (len $apps.authors) 1 }}
									  {{ if eq $i2 $totalLen }}
										  <a href="https://github.com/{{$details.github_user}}"> {{ $details.name }}</a>
									  {{ else }}
										  <a href="https://github.com/{{$details.github_user}}"> {{ $details.name }}</a>,
									  {{ end }}
								  {{ end }}
						  </p><br>
						  <p class="card-text fs-18">{{ $apps.site_description }} </p><br>

						  <div>
							  <img src="https://img.shields.io/travis/compbiocore/{{ .repo }}.svg?style=flat"/>
							  {{ if .docs_url }}
							  <a href="{{ .docs_url }}">
								  <img src="https://img.shields.io/badge/docs-stable-blue.svg?style=flat"/>
							  </a>
							  {{ end }}

							  {{ if .doi }}
							  <a href='https://doi.org/{{ .doi }}'>
								  <img src='https://img.shields.io/badge/DOI-{{ replace (replace (replace .doi "/" "%2F") "_" "__") "-" "--" }}-purple.svg?style=flat'/>
							  </a>
							  {{ end }}

							  {{ if .pypi }}
							  <a href='https://pypi.org/project/{{ .site_name }}/'>
								  <img src='https://img.shields.io/pypi/v/{{ .site_name }}.svg?style=flat'/>
							  </a>
							  {{ end }}
						  </div>
						  </div>
					  </div>
				  {{end}}
			  {{end}}
			</article>

		  {{ end }}
	</div>
  </div>

	<!-- RefChef -->

	<div class="container-fluid d-flex justify-content-center px-0">
		<div class="col-lg-9 col-md-11 col-sm-12 py-10">
			  {{ if .Params.refchef }}
				<header id="{{ .Params.ipa.id }}" class="d-flex align-items-center">
				  <span class="btn-red btn-ico btn-lg btn-rounded"><i class="fad fs-24 fa-{{.Params.refchef.icon}}"></i></span>
				  <h1 class="mx-4 text-secondary">{{ .Params.refchef.title  }}</h1>
				  <hr class="bg-dark w-40"/>
				</header>
				<div class="d-flex justify-content-between flex-wrap">
					<div class="col-md-12 py-3">
					  <div>
						<p class="p-medium">{{ .Params.refchef.text | markdownify }}</p>
					  </div>
					  <br>
					</div>
				</div>
				<br>
				<div class="d-flex justify-content-center m-1">
				{{range $button := .Params.refchef.button}}
				  <a class="btn btn-primary btn-sm p-1" href="{{$button.href}}">{{$button.text| markdownify}}</a>&nbsp;&nbsp;
				{{end}}
				</div>
				{{ end }}
		</div>
	  </div>

<!-- IPA -->

<div class="container-fluid d-flex justify-content-center px-0">
	<div class="col-lg-9 col-md-11 col-sm-12 py-10">
		  {{ if .Params.ipa }}
			<header id="{{ .Params.ipa.id }}" class="d-flex align-items-center">
			  <span class="btn-red btn-ico btn-lg btn-rounded"><i class="fad fs-24 fa-{{.Params.ipa.icon}}"></i></span>
			  <h1 class="mx-4 text-secondary">{{ .Params.ipa.title  }}</h1>
			  <hr class="bg-dark w-40"/>
			</header>
			<div class="d-flex justify-content-between flex-wrap">
				<div class="col-md-12 py-3">
				  <div>
					<p class="p-medium">{{ .Params.ipa.text | markdownify }}</p>
				  </div>
				  <br>
				  <div>
					<p class="p-medium">{{ .Params.ipa.text2 | markdownify}}</p>
				  </div>
				</div>
			</div>
			<div class="justify-content-center d-flex">
					<iframe src="{{.Params.ipa.iframe}}" width="700" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
			</div>
			<br>
			<div class="d-flex justify-content-center m-1">
			{{range $button := .Params.ipa.button}}
			  <a class="btn btn-primary btn-sm p-1" href="{{$button.href}}">{{$button.text| markdownify}}</a>&nbsp;&nbsp;
			{{end}}
			</div>
			{{ end }}
	</div>
  </div>

{{ end }}
