{{ define "content"}}
<!-- header - blue container -->
{{ $current_section := .Section }}
<div id="hero-list" class=" bg-blue text-white pb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12 d-flex flex-column pt-6 pb-10">
			  <h1 class="fs-60 text"> {{ humanize .Section }} </h1>
			  <p class="fs-30 text">{{ .Params.hero.lead | markdownify }}</p>
			</div>
		</div>
	</div>
</div>

<!-- table of contents -->
<div class="container-fluid overlay-top justify-content-center d-flex">
		<div class="col-lg-6 col-md-10 col-sm-12">
		  <ul class="nav nav-toc-page flex-column boxed">
			{{ range $key, $button := .Params.hero.button }}
			  <li class="mx-1 nav-item bg-white my-1">
				  <a data-scroll class="nav-link section-nav-link" href="{{$button.href}}">
					  <span class="text-dark icon-{{$button.icon}} pr-1 fs-24"></span>
					  <span class="text-dark fs-20">{{ $button.title }}</span>
				  </a>
			  </li>
			  {{ end }}
		  </ul>
		  </div>
		</div>

<!-- Software -->

<div class="container-fluid d-flex justify-content-center px-0">
  <div class="col-lg-9 col-md-11 col-sm-12 py-10">
		{{ if .Params.software }}
          <header id="{{ .Params.software.id }}" class="d-flex align-items-center">
            <span class="btn-red btn-ico btn-lg btn-rounded"><i class="icon-{{.Params.software.icon}}"></i></span>
            <h1 class="mx-4 text-secondary">{{ .Params.software.title  }}</h1>
            <hr class="bg-dark w-40"/>
		  </header>
		  {{ end }}
  </div>
</div>

<!-- Workshops -->

<div class="container-fluid d-flex justify-content-center px-0">
	<div class="col-lg-9 col-md-11 col-sm-12 py-10">
		  {{ if .Params.workshops }}
			<header id="{{ .Params.workshops.id }}" class="d-flex align-items-center">
			  <span class="btn-red btn-ico btn-lg btn-rounded"><i class="icon-{{.Params.workshops.icon}}"></i></span>
			  <h1 class="mx-4 text-secondary">{{ .Params.workshops.title  }}</h1>
			  <hr class="bg-dark w-40"/>
			</header>
			{{ end }}
	</div>
  </div>
  
<!-- Tutorials -->

<div class="container-fluid d-flex justify-content-center px-0">
	<div class="col-lg-9 col-md-11 col-sm-12 py-10">
		  {{ if .Params.tutorials }}
			<header id="{{ .Params.tutorials.id }}" class="d-flex align-items-center">
			  <span class="btn-red btn-ico btn-lg btn-rounded"><i class="icon-{{.Params.tutorials.icon}}"></i></span>
			  <h1 class="mx-4 text-secondary">{{ .Params.tutorials.title  }}</h1>
			  <hr class="bg-dark w-40"/>
			</header>
			{{ end }}
	</div>
  </div>
  
<!-- Documentation -->

<div class="container-fluid d-flex justify-content-center px-0">
	<div class="col-lg-9 col-md-11 col-sm-12 py-10">
		  {{ if .Params.documentation }}
			<header id="{{ .Params.documentation.id }}" class="d-flex align-items-center">
			  <span class="btn-red btn-ico btn-lg btn-rounded"><i class="icon-{{.Params.documentation.icon}}"></i></span>
			  <h1 class="mx-4 text-secondary">{{ .Params.documentation.title  }}</h1>
			  <hr class="bg-dark w-40"/>
			</header>
			{{ end }}
	</div>
  </div>

<!-- IPA -->

<div class="container-fluid d-flex justify-content-center px-0">
	<div class="col-lg-9 col-md-11 col-sm-12 py-10">
		  {{ if .Params.ipa }}
			<header id="{{ .Params.ipa.id }}" class="d-flex align-items-center">
			  <span class="btn-red btn-ico btn-lg btn-rounded"><i class="icon-{{.Params.ipa.icon}}"></i></span>
			  <h1 class="mx-4 text-secondary">{{ .Params.ipa.title  }}</h1>
			  <hr class="bg-dark w-40"/>
			</header>
			<div class="d-flex justify-content-between flex-wrap">
				<div class="col-md-12 py-3">
				  <div>
					<p class="p-medium">{{ .Params.ipa.text | markdownify }}</p>
				  </div>
				  <br>
				  <div>
					<p class="p-medium">{{ .Params.ipa.text2 | markdownify}}</p>
				  </div>
				</div>
			</div>
			<div class="justify-content-center d-flex">
					<iframe src="{{.Params.ipa.iframe}}" width="700" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
			</div>
			<br>
			<div class="d-flex justify-content-center m-1">
			{{range $button := .Params.ipa.button}}
			  <a class="btn btn-primary btn-sm p-1" href="{{$button.href}}">{{$button.text| markdownify}}</a>&nbsp;&nbsp;
			{{end}}
			</div>
			{{ end }}
	</div>
  </div>

{{ end }}
