<!-- GLOBAL FOOTER -->

  <footer id="brown-footer" class="px-10 d-print-none">
      <div class="marginator">
        <section>
          <h1 style="background: transparent url('{{$.Site.BaseURL}}/images/brown-logo-footer.svg') -2px 0 no-repeat;">Brown University</h1>
          <div id="give-to-brown">
           <a href="http://giving.brown.edu" class="giving-footer">Giving to Brown</a>
          </div>
        </section>

        <div id="brown-contact">
          <ul class="contact-location">
            <li class="city-state-country"><span class="text-gray mr-1 fas fa-map-marker-alt"> </span>Providence, Rhode Island 02912, USA</li>
            <li class="telephone"><span class="text-gray mr-1 fas fa-phone"> </span><a href="tel:14018631000">401-863-1000</a></li>
            <li class="contact"><span class="text-gray mr-1 fad fa-phone-laptop"></span><a href="http://www.brown.edu/contact" accesskey="9">Contact Us</a></li>
            <li class="maps"><span class="text-gray mr-1 fas fa-map"></span><a href="http://www.brown.edu/Facilities/Facilities_Management/maps/#building/">Maps</a></li>
            <li class="directions"><span class="text-gray mr-1 fad fa-route"></span><a href="http://www.brown.edu/about/visit/driving-directions">Directions</a></li>
          </ul>
        </div>

        <div id="social-media">
          <ul>
            <li>
              <a href="https://www.facebook.com/BrownUniversity" title="Facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/BrownUniversity"><i class="fab fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="http://www.youtube.com/brownuniversity"><i class="fab fa-youtube" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="http://instagram.com/brownu"><i class="fab fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="http://itunes.apple.com/institution/brown-university/id381076688#ls=1"><i class="fab fa-apple" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://plus.google.com/100931085598361161047/posts"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/edu/school?id=19348&amp;trk=tyah"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://www.snapchat.com/add/brown-u"><i class="fab fa-snapchat-ghost" aria-hidden="true"></i></a>
            </li>
          </ul>

          <div class="social-link">
            <a href="http://www.brown.edu/about/social-media/" title="Get Connected to the Brown Community">All Social Media</a>
          </div>
        </div>
      </div>

      <div id="footer-copyright" class="clearfix">
        <div class="marginator">
          <p><span class="copyright">&copy; {{ now.Year }} Brown University</span> | <a href="#" id="back-to-top" class="link-top">Back to top <span class="ml-1 fad fa-chevron-up"></span></a></p>
        </div>
      </div>
    </footer>
