<!-- footer -->
<footer class="bg-beige ccv-footer d-print-none">
  <div class="px-10">
    <div class="row">
      <div class="col-12 col-md-2">
        {{ readFile "/themes/gb-theme/static/images/cbc.svg" | safeHTML }}
      </div>
      <div class="col-12 col-md-6 text-dark">
        <h1 class="fs-20 font-weight-bold">Computational Biology Core</h1>
        <p>Center for Computational Biology of Human Disease</p>
        <div class="row">
          <div class="col">
            <ul class="list-group list-group-minimal">
              {{ range .Site.Menus.main.ByWeight }}
              {{ if ne .Name "Home"}}
              <li class="list-group-item"><a href="{{ .URL }}" class="link">{{ .Name }}</a></li>
              {{ end }}
              {{ end }}
            </ul>
          </div>
          <div class="col">
            <ul class="list-group list-group-minimal">
              <li class="list-group-item"><a href="{{ .Site.Params.contact.support.link }}" class="link"><span class="icon-envelope mr-1"></span>cbc-help@brown.edu</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-2 ml-auto text-md-right">
        <div class="dropdown">
          <button class="btn btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            English
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {{ range $.Site.Home.AllTranslations }}
            <a class="dropdown-item" href="{{.Permalink}}">{{.Language.LanguageName}}</a>
            {{ end }}

          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
