.dog {
  height: 8rem;
  margin-right: 1rem;
  -webkit-filter: drop-shadow( 1px 1px 6px $green);
  filter: drop-shadow( 1px 1px 6px $green);
  .st0 {
    fill: $green !important;
    display: block !important;
  }
}
