<section id="section-3" class="bg-light showcase">
  <section>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">

        <header class="d-flex align-items-center">
          <span class="btn-red btn-ico btn-lg btn-rounded mx-3">
            <i class="text-light fad fa-newspaper"></i>
          </span>
          <h1 class="h1-home py-8">{{ .Params.genomicsinthenews.title | markdownify }}</h1>
        </header>

      </div>
    </div>
  </div>
</section>
<section class="bg-light row">
<div class="owl-carousel
            owl-carousel-showcase
            owl-carousel-fluid
            owl-loaded owl-drag
            skrollable
            skrollable-before"
      data-items="[3,2,1]"
      data-center="false"
      data-nav="false"
      data-margin="20"
      data-loop="true"
      data-dots="true"
      >
  {{ range .Site.Data.embed }}
  {{ if .title }}
  <div class="photo carousel-img d-flex flex-row carousel-caption boxed align-items-center bg-beige " >
      <div class="w-100">
        {{range $i, $b := .images}}
        {{if eq $i 0 }}

        <img src="{{$b.url}}" width="200" height="200"/>
        {{ end }}
        {{ end }}

      </div>
      <a href={{.url}}>
        <div class="flex-column d-flex">
          <h1 class="text-dark fs-20">{{.title}}</h1>
          <p class="fs-18 text-dark">{{truncate 200 .description}}</p>
        </div>
      </a>
  </div>
  {{ end }}
  {{ end }}
</div>
</section>
</section>
