<!-- hero -->
<!-- yellow banner -->
<section id="hero" class="position-relative">

  <div class="hero-content-container bg-blue text-white" style="background-image: url('{{$.Site.BaseURL}}/images/background-art.svg');">
    <div class="hero-content d-flex flex-column">
      <h1 class="h1-home">{{ .Params.hero.title }}</h1>
      <p class="text-medium-brown">{{ .Params.hero.lead }}</p>
    </div>
  </div>

  <!-- floating button -->
  <a data-scroll href="#section-1" class="z-10 position-absolute left-5 bottom-10">
  <button type="button" class="small-invisible btn btn-outline-white btn-ico btn-rounded"><i class="icon-arrow-down2 fs-26"></i></button>
  </a>

  <!-- floating graphic -->
  <div class="right-1 bottom-6 position-absolute z-10">
    <svg class="zdog-svg" width="900" height="500"></svg>
    <!-- {{ readFile "/themes/gb-theme/static/images/isometric-ccv.svg" | safeHTML }} -->
  </div>

</section>
<!-- / hero -->
