<!-- hero -->
<!-- yellow banner -->
<section id="hero" class="position-relative">

  <div class="hero-content-container bg-blue text-white d-flex align-items-center justify-content-center">
    <div class="hero-content d-flex flex-column">
      <h1 class="h1-home">{{ .Params.hero.title }}</h1>
      <p class="text-medium-brown">{{ .Params.hero.lead }}</p>
    </div>
    <div class="floating-logo">
      {{ readFile "/themes/gb-theme/static/images/cbc-logo.svg" | safeHTML }}
    </div>

  </div>

  <!-- floating button -->
  <a data-scroll href="#section-1" class="z-10 position-absolute left-5 bottom-10">
  <button type="button" class="small-invisible btn btn-outline-white btn-ico btn-rounded"><i class="fad fa-chevron-down fa-2x"></i></button>
  </a>

  <!-- floating graphic -->


</section>
<!-- / hero -->
