{{ define "content"}}
<!-- header - blue container -->
{{ $current_section := .Section }}
<div id="hero-list" class=" bg-blue text-white pb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12 d-flex flex-column pt-6 pb-10">
			  <h1 class="fs-60 text"> {{ .Params.front.title | markdownify }} </h1>
			  <p class="fs-30 text">{{ .Params.front.description }}</p>
			</div>
		</div>
	</div>
</div>

<!-- table of contents -->
<div class="container-fluid overlay-top justify-content-center d-flex">
		<div class="col-lg-6 col-md-10 col-sm-12">
		  <ul class="nav nav-toc-page flex-column boxed">
			{{ range $key, $button := .Params.front.button }}
			  <li class="mx-1 nav-item bg-white my-1">
				  <a data-scroll class="nav-link section-nav-link" href="{{$button.href}}">
					  <span class="text-dark icon-{{$button.icon}} pr-1 fs-24"></span>
					  <span class="text-dark fs-20">{{ $button.title }}</span>
				  </a>
			  </li>
			  {{ end }}
		  </ul>
		  </div>
		</div>

<!-- Data Analysis -->

<div class="container-fluid d-flex justify-content-center px-0">
  <div class="col-lg-9 col-md-11 col-sm-12 py-10">
		{{ if .Params.data }}
          <header id="{{ .Params.data.id }}" class="d-flex align-items-center">
            <span class="btn-red btn-ico btn-lg btn-rounded"><i class="fas fa-{{.Params.data.icon}}"></i></span>
            <h1 class="mx-4 text-secondary">{{ .Params.data.title  }}</h1>
            <hr class="bg-dark w-40"/>
		  </header>
		  <article class="d-flex py-6 justify-content-between flex-wrap">
            <div class="col-md-12 py-3">
              <div>
                <p class="p-medium">{{ .Params.data.description | markdownify }}</p>
              </div>
            </div>
          {{ range $box := .Params.data.box}}
          <div class="col-md-6 py-3">
            <div class="card p-4">
              <div class="d-flex">
              <h1>{{ $box.title | markdownify }}</h1>
              </div>
              <hr class="bg-primary">
              <p class="fs-20">{{ $box.text  | markdownify }}</p>
            </div>
          </div>
		  {{ end }}
      </article>
	  <div class="d-flex justify-content-center m-1">
		<a class="btn btn-primary btn-sm p-1" href="{{.Params.data.button.href}}">{{.Params.data.button.text| markdownify}}</a>
	  </div>
	  {{end}}
  </div>
</div>

<!-- Consulting -->

<div class="container-fluid d-flex justify-content-center px-0">
	<div class="col-lg-9 col-md-11 col-sm-12 py-10">
		  {{ if .Params.consulting }}
			<header id="{{ .Params.consulting.id }}" class="d-flex align-items-center">
				<span class="btn-red btn-ico btn-lg btn-rounded"><i class="icon-{{.Params.consulting.icon}}"></i></span>
			  <h1 class="mx-4 text-secondary">{{ .Params.consulting.title  }}</h1>
			  <hr class="bg-dark w-40"/>
			</header>
			<article class="d-flex py-6 justify-content-between flex-wrap">
			  <div class="col-md-12 py-3">
				<div>
				  <p class="p-medium">{{ .Params.consulting.text | markdownify }}</p>
				</div>
				<br>
				<div>
				  <p class="p-medium">{{ .Params.consulting.text2 | markdownify}}</p>
				</div>
			  </div>
		</article>
		{{end}}
		<article class="justify-content-center d-flex">
				<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeEYb83-J6tuevzmNPxMFW6Jy_p3fn4PLigEzBIGRTbRUH-pw/viewform" width="640" height="1006" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
		</article>
	</div>
  </div>
  
<!-- DevOps -->
<div class="container-fluid d-flex justify-content-center px-0">
	<div class="col-lg-9 col-md-11 col-sm-12 py-10">
		  {{ if .Params.devops }}
			<header id="{{ .Params.devops.id }}" class="d-flex align-items-center">
			  <span class="btn-red btn-ico btn-lg btn-rounded"><i class="fas fa-{{.Params.devops.icon}}"></i></span>
			  <h1 class="mx-4 text-secondary">{{ .Params.devops.title  }}</h1>
			  <hr class="bg-dark w-40"/>
			</header>
			<article class="d-flex py-6 justify-content-between flex-wrap">
			  <div class="col-md-12 py-3">
				<div>
				  <p class="p-medium">{{ .Params.devops.text | markdownify }}</p>
				</div>
			  </div>
		</article>
		{{end}}
	</div>
  </div>
  
{{ end }}
