{{ define "content" }}
<!-- header - blue container -->
{{ $current_section := .Section }}
<div id="hero-list" class=" bg-blue text-white pb-5">
<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex flex-column pt-6 pb-10">
          <h1 class="fs-60"> {{ humanize .Section }} </h1>
          <p class="fs-30">{{ .Params.mission.lead | safeHTML }}</p>
        </div>
    </div>
</div>
</div>


<!-- table of contents -->
  <div class="container-fluid overlay-top justify-content-center d-flex">
    <div class="col-lg-6 col-md-10 col-sm-12">
    <ul class="nav nav-toc-page flex-column boxed">
      {{ range .Params.items }}
        <li class="mx-1 nav-item bg-white my-1">
            <a class="nav-link section-nav-link" href="#{{.name}}">
                <span class="text-dark fas fa-{{ .icon }} pr-1 fs-24"></span>
                <span class="text-dark fs-20">{{ humanize .name }}</span>
            </a>
        </li>
        {{ end }}
    </ul>
    </div>
  </div>


    <div class="container-fluid d-flex justify-content-center py-10 px-0">
        <div class="col-lg-9 col-md-11 col-sm-12">

          <!-- Mission -->
          <header id="mission" class="d-flex align-items-center">
            <span class="btn-red btn-ico btn-lg btn-rounded"><i class="fas fa-crow"></i></span>
            <h1 class="mx-4 text-secondary">Mission</h1>
            <hr class="bg-dark w-40"/>
          </header>

          <article class="d-flex py-6 justify-content-between flex-wrap">
            <div class="col-md-12 py-3">
              <div>
                <p class="p-medium">{{ .Params.mission.text | safeHTML }}</p>
                <ul>
                {{ range .Params.mission.list_items }}
                  <li>{{ . }}</li>
                {{ end }}
                </ul>
                {{ .Params.mission.after | markdownify }}
              </div>
            </div>
        </article>

        <!-- People -->
        <header id="people" class="d-flex align-items-center">
          <span class="btn-red btn-ico btn-lg btn-rounded"><i class="fas fa-person-booth"></i></span>
          <h1 class="mx-4 text-secondary">People</h1>
          <hr class="bg-dark w-40"/>
        </header>

        <article class="container-fluid row py-1">
          {{ range sort .Site.Data.people "weight"}}
          <div class="people-card photo-main col-xl-3 col-md-4 col-sm-6 col-xs-12"
               style="background-image:url('{{$.Site.BaseURL}}/images/people/JPEG/{{.image}}')">
            <div class="people-card-body" style="border-left: 5px solid #003C71;">
              <h2 class="text-dark mb-0 fs-20">{{ .name }}</h2>
              <p class="text-dark text-small">{{ .title }}</p>
              <p class="text-gray text-small"><span class="icon-users2 pr-1"></span>{{ .affiliation }}</p>
              <div class="text-small d-flex w-100 justify-content-end">
                <a class="text-secondary mr-1" href="https://directory.brown.edu/uuid/{{ .brown_directory_uuid }}"><span class="fas fa-info-circle" /></a>
                {{ if .github_username }}
                <a class="text-secondary mr-1" href="https://github.com/{{.github_username}}"><span class="fab fa-github" /></a>
                {{ end }}
              </div>
              <!-- <p class="font-weight-bold text-beige text-small"><span class="icon-users2 pr-1"></span>{{ .team }}</p> -->
            </div>
          </div>
          {{ end }}
          </article>

        <!-- Opportunities -->
        <header id="opportunities" class="d-flex align-items-center pt-4">
            <span class="btn-red btn-ico btn-lg btn-rounded"><i class="fas fa-user-circle"></i></span>
            <h1 class="mx-4 text-secondary">Opportunities</h1>
            <hr class="bg-dark w-40"/>
          </header>
      </div>
    </div>
{{ end }}
